 <h1>Ma plateforme d'annonces</h1>
<p>
Ce projet est propulsé par Symfony,
et construit grâce au MOOC OpenClassrooms et SensioLabs.
</p>

{{ dump() }}

    {#% for item in data %}
            <br>{{ item }}<br>
    {% endfor %#}
<p>end data</p>
